@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
@layer utilities {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}

.font-noto-sans {
  font-family: var(--font-noto-sans), system-ui, sans-serif;
}

/* Hide scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

.swiper-pagination-bullet {
  opacity: 1 !important;
  margin: 0 4px !important;
  transition: all 0.3s ease !important;
  border-radius: 100px !important;
}

.swiper {
  overflow: visible !important;
}
input,
textarea,
select {
  padding: 0.75rem;
  margin-top: 0.25rem;
  display: block;
  width: 100%;
  font-size: 1rem;
  color: #333;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  outline: none;
}

input:focus,
textarea:focus,
select:focus {
  border: 2px solid #888;
  box-shadow: 0 0 2px #ccc;
}

input:disabled,
textarea:disabled,
select:disabled {
  cursor: not-allowed;
  border: 2px solid #888;
  background-color: #ccc;
  opacity: 0.7;
}
